version: 1.0.{build}
init:
  - git config --global core.autocrlf input
configuration: Release
image: 
  - Visual Studio 2017
  - Ubuntu1804
install:
  pwsh: >-
    dotnet --info;
build_script:
  pwsh: >-
    New-Item -ItemType Directory tools;
    Set-Location tools;
    dotnet tool install --tool-path . --add-source https://api.nuget.org/v3/index.json Cake.Tool;
    Set-Location ..;
    ./tools/dotnet-cake ./build.cake --configuration=Release
artifacts:
  - path: "nupkg/*.nupkg"
    name: NuGetPackages
nuget:
  project_feed: true
deploy:
- provider: NuGet
  api_key:
    secure: +X6X8wXYoeSk6FdqmxnFHfcq9XI0rjvX+LHDoW6pd+Xf7X7GqpEovk6lTLt5fRFZ
  on:
    APPVEYOR_REPO_TAG: true
    branch: master
    APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2017"
  artifact: NuGetPackages
- provider: GitHub
  auth_token:
    secure: MFZg3Ryx8cZ9XWIf8qvSE+48pmQc2LPAcPiRQ7bUtPRKj4mXvn+mtZVzPV7tQyX1
  on:
    APPVEYOR_REPO_TAG: true
    branch: master
    APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2017"
  artifact: NuGetPackages
  prerelease: false
  draft: true